<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">
<div id="adm_wrap">
    <header>
        <div class="head">
            <div class="top_menu">
                <div class="login_user"><strong><i class="far fa-user-circle"></i> 영돈</strong>님 반갑습니다.</div>
                <div class="logout"><button type="button"><span class="skip_info">로그아웃</span><i class="fas fa-sign-out-alt"></i></button></div>
            </div>
        </div>
    </header>

    <div id="container">
        <div class="menu_toggle"><span></span></div>

        <!--/* 우측 영역 */-->
        <div class="rcontent">
            <!--/* 페이지별 컨텐츠 */-->
            <th:block layout:fragment="content"></th:block>
        </div>
    </div> <!--/* // #container */-->
    <footer>Copyright(c)네임즈.All rights reserved.</footer>
</div>

<script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

<th:block layout:fragment="script"></th:block>
</body>
</html>